@model ProjectWork.ViewModels.Projects.ProjectIndexViewModel

@{
    ViewData["Title"] = "Projects list";
    Layout = "_Layout";
    var projects = Model.Projects;
}
<form method="get" id="hidden_content">
    <div class="form-inline form-group mt-4">
        <label class="control-label">Name: </label>
        <input type="text" asp-for="@Model.Filter.Name" class="form-control">

        <label class="control-label">Priority: </label>
        <select class="form-select" asp-for="@Model.Filter.Priority">
            <option value="">Select priority</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label class="control-label">Date From: </label>
        <input type="date" asp-for="@Model.Filter.StartDate" class="form-control">

        <label class="control-label">Date To: </label>
        <input type="date" asp-for="@Model.Filter.EndDate" class="form-control">

        <button type="submit" class="btn btn-sm mt-3 btn-dark">Filter</button>
        <a asp-action="Index" type="submit" class="btn btn-sm mt-3 btn-danger">Reset</a>
    </div>
</form>

<div class="sorter_by mt-3" id="hidden_content">
    @{
        var queryString = Context.Request.QueryString.Value;
        if (queryString is not null)
        {
            if (queryString.Contains("sortBy=NameDesc"))
            {
                <a href="/Projects/Index?sortBy=NameAsc">Sort by name</a>
            }
            else
            {
                <a href="/Projects/Index?sortBy=NameDesc">Sort by name</a>
            }
            
            if (queryString.Contains("sortBy=PriorityAsc"))
            {
                <a href="/Projects/Index?sortBy=PriorityDesc">Sort by priority</a>
            }
            else
            {
                <a href="/Projects/Index?sortBy=PriorityAsc">Sort by priority</a>
            }
        }
    }
</div>

<div>
    <button id="show_con_btn" class="my-3" style="cursor: pointer;">Sort</button>
</div>

<a asp-action="Add" class="btn btn-primary">Add new</a>
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name
        </th>
        <th scope="col">Project Manager</th>
        <th scope="col">Priority</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < projects.Count; i++)
    {
        var project = projects[i];

        <tr>
            <td>@(i + 1)</td>
            <td>
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id">
                    @project.Name
                </a>
            </td>
            <td>@project.ProjectManager.FullName()</td>
            <td>@project.Priority</td>
        </tr>
    }
    </tbody>
</table>